html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.independence_day {
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: yellow;
}

.timer {
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 70px;
}


.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    color: blue;
}